<!--
    MongoDB DataProvider Sitecore module
    Copyright (C) 2012  Robin Hermanussen

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
  <sitecore>
	<dataProviders>
    <mongodp2 type="MongoDataProvider.MongoDataProvider, MongoDataProvider">
      <!-- This should be the id of the parent item under which the root item for this provider will be created -->
      <param desc="joinParentId">{00000000-0000-0000-0000-000000000000}</param>
      <!-- The connection string without database (can also include credentials) -->
      <param desc="mongoConnectionString">mongodb://localhost:27017</param>
      <!-- The name of the MongoDB database (will be created if it does not exist) -->
      <param desc="databaseName">master</param>
      <!-- If true, the following setting ensures that writes to the database are committed to the file system
           (false makes for faster writes, but less reliability e.g. when power is turned off during write)
      -->
      <param desc="safeMode">false</param>
    </mongodp2>
	</dataProviders>
	<databases>
	  <database id="mongodb" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
      <param desc="name">$(id)</param>
      <icon>People/16x16/cubes_blue.png</icon>
      <dataProviders hint="list:AddDataProvider">
		    <dataProvider ref="dataProviders/mongodp2">
		    </dataProvider>
		  </dataProviders>
      <securityEnabled>true</securityEnabled>
      <proxiesEnabled>false</proxiesEnabled>
      <publishVirtualItems>false</publishVirtualItems>
      <cacheSizes hint="setting">
        <data>20MB</data>
        <items>10MB</items>
        <paths>500KB</paths>
        <standardValues>500KB</standardValues>
      </cacheSizes>
	  </database>
	</databases>
  </sitecore>
</configuration>